streamlit
git+https://github.com/openai/whisper.git
azure-cognitiveservices-vision-customvision
msrest
ffmpeg-python
matplotlib
pandas
numpy
scipy
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
langchain
langchain-core
langchain-google-genai
google-generativeai
